In [1]:
import functools
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Geographic Relationships

In [2]:
# Clean up the file generated from QGIS spatial join
geo = pd.read_csv('./data/TIGER/msa_puma_tract_join.csv', usecols=['jmsa_GEOID','jpuma_GEOI','GEOID']).dropna()
geo['REGION'] = '1'
geo = geo[['REGION','jmsa_GEOID','GEOID']].astype(int)
geo.columns = ['REGION','MSA','TRACT']

# Get rid of Micropolitan Statistical Areas
msa_ids = pd.read_csv('./data/TIGER/msa_list.csv')
geo = geo[geo['MSA'].isin(msa_ids['GEOID'])]
full_msa_list = pd.unique(geo['MSA'])

# Limit to certain MSAs if desired, there are 925 total MSA + MicroSA, 384 MSA
msas_to_use = full_msa_list[200:249]
geo = geo[geo['MSA'].isin(msas_to_use)]

geo.to_csv('./populationsim-master/example_msa_survey/data/geo_cross_walk.csv', index=False)

# Get the list of msas, and tracts that are being synthesized
msa_list = list(pd.unique(geo['MSA']))
msa_list = [int(i) for i in msa_list]
tract_list = list(pd.unique(geo['TRACT']))
tract_list = [int(i) for i in tract_list]

## Seed Samples from Survey

#### Persons/Households

In [3]:
p_data = pd.read_csv('./data/scoot_socio.csv', dtype=str)
p_data.reset_index(inplace=True)

In [4]:
# Check for NA values
p_data.isna().sum()

index       0
user        0
age         0
gender      0
hispanic    0
race        0
usborn      0
edu         0
student     0
work        0
zipcode     0
hhsize      0
child       0
hhincome    0
idincome    0
disable     0
veh         0
bike        0
dtype: int64

In [5]:
# Fake household for each person
h_data = p_data[['index','user']].copy()
h_data['REGION'] = '1'
h_data['WGTP'] = 1.0

# Allocate all sample data to every MSA (seed geography)
# Every person is alone in a single household (id=index)
# Every person/household is repeated for every MSA
p_data_list = []
h_data_list = []
for msa in msa_list:
    p_data_new = p_data.copy()
    p_data_new['MSA'] = msa
    p_data_list.append(p_data_new)
    h_data_new = h_data.copy()
    h_data_new['MSA'] = msa
    h_data_list.append(h_data_new)
p_data = pd.concat(p_data_list)
p_data.reset_index(inplace=True)
p_data.drop(['level_0','index'], axis=1, inplace=True)
p_data.reset_index(inplace=True)
h_data = pd.concat(h_data_list)
h_data.reset_index(inplace=True)
h_data.drop(['level_0','index'], axis=1, inplace=True)
h_data.reset_index(inplace=True)

In [6]:
p_data

,index,user,age,gender,hispanic,race,usborn,edu,student,work,zipcode,hhsize,child,hhincome,idincome,disable,veh,bike,MSA
0,0,04RbJrWYLoUs721TfrKU,61,F,N,1,Y,4,N,2,29576,1,0,3,3,no,2,no,29620
1,1,05jO2rxIAAUb56QPb0se,42,M,N,4,N,6,N,1,54956,4,2,9,9,no,2,yes,29620
2,2,0a6oBOvnElapBG5P96Bv,58,F,N,4,P,5,N,3,94709,2,0,4,2,no,1,no,29620
3,3,0ALR8Wou755wsfL2CcTe,36,M,N,1,Y,4,N,7,78634,3,0,7,1,no,4,yes,29620
4,4,0bgDWIbxXUIBvjlUbPPN,33,M,N,1,Y,3,N,1,12084,1,0,6,6,no,1,yes,29620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86921,86921,Zz7HWhA1rLeaq0SZvtHQ,46,M,N,1,Y,5,N,1,92122,4,2,10,7,no,2,no,45060
86922,86922,ZZhIMbD8AGPTEy5FthwW,34,M,N,1,Y,5,N,1,89141,3,1,9,9,no,2,yes,45060
86923,86923,zzJNMD87EWq41ChYzGgD,33,F,N,1,Y,4,P,1,85746,4,2,7,3,no,3,yes,45060
86924,86924,ZzqLinqwV4Q9GGtl5iLq,40,M,Y,1,Y,5,F,1,68701,4,2,5,5,yes,4,yes,45060
86925,86925,zZZpNmtXYgNMSXwQ6vhu,28,M,N,1,Y,5,P,1,10451,5,1,9,9,no,2,yes,45060

In [7]:
h_data

       index                  user REGION  WGTP    MSA
0          0  04RbJrWYLoUs721TfrKU      1   1.0  29620
1          1  05jO2rxIAAUb56QPb0se      1   1.0  29620
2          2  0a6oBOvnElapBG5P96Bv      1   1.0  29620
3          3  0ALR8Wou755wsfL2CcTe      1   1.0  29620
4          4  0bgDWIbxXUIBvjlUbPPN      1   1.0  29620
...      ...                   ...    ...   ...    ...
86921  86921  Zz7HWhA1rLeaq0SZvtHQ      1   1.0  45060
86922  86922  ZZhIMbD8AGPTEy5FthwW      1   1.0  45060
86923  86923  zzJNMD87EWq41ChYzGgD      1   1.0  45060
86924  86924  ZzqLinqwV4Q9GGtl5iLq      1   1.0  45060
86925  86925  zZZpNmtXYgNMSXwQ6vhu      1   1.0  45060

[86926 rows x 5 columns]

In [8]:
# Save seed data to file
h_data.to_csv('./populationsim-master/example_msa_survey/data/seed_households.csv', index=False)
p_data.to_csv('./populationsim-master/example_msa_survey/data/seed_persons.csv', index=False)

## Control Totals from ACS

#### MSA

In [9]:
S1501_cols = ['GEO_ID',
             'S1501_C01_007E',
             'S1501_C01_008E',
             'S1501_C01_009E',
             'S1501_C01_010E',
             'S1501_C01_011E',
             'S1501_C01_012E',
             'S1501_C01_013E']
S1501_colnames = ['GEO_ID',
                 'edu1-11',
                 'edu12-15',
                 'edu16-17',
                 'edu18-19',
                 'edu20',
                 'edu21',
                 'edu22-24']
S1501 = pd.read_csv('./data/ACS/MSA/S1501.csv', low_memory=False, usecols=S1501_cols).iloc[1:,:]
S1501.columns = S1501_colnames

# Combine columns to match bins used in survey
S1501['edu1-11'] = S1501['edu1-11'].astype(int) + S1501['edu12-15'].astype(int)
S1501.drop('edu12-15', axis=1, inplace=True)
S1501.rename(columns={'edu1-11':'edu1-15'}, inplace=True)

In [10]:
S0101_cols = ['GEO_ID',
             'S0101_C01_001E',
             'S0101_C01_002E',
             'S0101_C01_003E',
             'S0101_C01_004E',
             'S0101_C01_005E',
             'S0101_C01_006E',
             'S0101_C01_007E',
             'S0101_C01_008E',
             'S0101_C01_009E',
             'S0101_C01_010E',
             'S0101_C01_011E',
             'S0101_C01_012E',
             'S0101_C01_013E',
             'S0101_C01_014E',
             'S0101_C01_015E',
             'S0101_C01_016E',
             'S0101_C01_017E',
             'S0101_C01_018E',
             'S0101_C01_019E',
             'S0101_C01_033E',
             'S0101_C01_034E']
S0101_colnames = ['GEO_ID',
                 'TOTAL_P',
                 'age0-5',
                 'age5-9',
                 'age10-14',
                 'age15-19',
                 'age20-24',
                 'age25-29',
                 'age30-34',
                 'age35-39',
                 'age40-44',
                 'age45-49',
                 'age50-54',
                 'age55-59',
                 'age60-64',
                 'age65-69',
                 'age70-74',
                 'age75-79',
                 'age80-84',
                 'age80+',
                 'sexRatio',
                 'sexM']
S0101 = pd.read_csv('./data/ACS/MSA/S0101.csv', low_memory=False, usecols=S0101_cols).iloc[1:,:]
S0101.columns = S0101_colnames
S0101['sexRatio'] = pd.to_numeric(S0101['sexRatio'], errors='coerce').fillna(0)

# Gender counts are in percentage
S0101['sexRatio'] = S0101['TOTAL_P'].astype(float) / (S0101['sexRatio'].astype(float)/100 + 1.0)
S0101['sexM'] = S0101['TOTAL_P'].astype(float) - S0101['sexRatio'].astype(float)
S0101.rename(columns={'sexRatio':'sexF'}, inplace=True)
S0101['sexM'] = S0101['sexM'].astype(int)
S0101['sexF'] = S0101['sexF'].astype(int)

# Combine columns to get wider bins and match controls/PUMS
S0101['age15-19'] = (S0101['age0-5'].astype(int) +
                     S0101['age0-5'].astype(int) +
                     S0101['age5-9'].astype(int) +
                     S0101['age10-14'].astype(int) +
                     S0101['age15-19'].astype(int))
S0101.drop(['age0-5', 'age5-9', 'age10-14'], axis=1, inplace=True)
S0101.rename(columns={'age15-19':'age0-19'}, inplace=True)

S0101['age40-44'] = (S0101['age25-29'].astype(int) +
                     S0101['age30-34'].astype(int) +
                     S0101['age35-39'].astype(int) +
                     S0101['age40-44'].astype(int))
S0101.drop(['age25-29', 'age30-34', 'age35-39'], axis=1, inplace=True)
S0101.rename(columns={'age40-44':'age25-44'}, inplace=True)

S0101['age50-54'] = (S0101['age45-49'].astype(int) +
                     S0101['age50-54'].astype(int))
S0101.drop(['age45-49'], axis=1, inplace=True)
S0101.rename(columns={'age50-54':'age45-54'}, inplace=True)

S0101['age80+'] = (S0101['age60-64'].astype(int) + 
                   S0101['age65-69'].astype(int) + 
                   S0101['age70-74'].astype(int) + 
                   S0101['age75-79'].astype(int) + 
                   S0101['age80-84'].astype(int) + 
                   S0101['age80+'].astype(int))
S0101.drop(['age60-64', 'age65-69', 'age70-74', 'age75-79', 'age80-84'], axis=1, inplace=True)
S0101.rename(columns={'age80+':'age60+'}, inplace=True)

In [11]:
B19325_colnames = ['GEO_ID',
                 'idincome-9999',
                 'idincome10000-14999',
                 'idincome15000-24999',
                 'idincome25000-34999',
                 'idincome35000-49999',
                 'idincome50000-64999',
                 'idincome65000-74999',
                 'idincome75000+']
B19325 = pd.read_csv('./data/ACS/MSA/B19325.csv', low_memory=False).iloc[1:,:]

B19325['idincome-9999'] = (B19325['B19325_004E'].astype(int) +
                           B19325['B19325_006E'].astype(int) +
                           B19325['B19325_007E'].astype(int) +
                           B19325['B19325_008E'].astype(int) +
                           B19325['B19325_009E'].astype(int) +
                           B19325['B19325_027E'].astype(int) +
                           B19325['B19325_029E'].astype(int) +
                           B19325['B19325_030E'].astype(int) +
                           B19325['B19325_031E'].astype(int) +
                           B19325['B19325_032E'].astype(int) +
                          B19325['B19325_051E'].astype(int) +
                           B19325['B19325_053E'].astype(int) +
                           B19325['B19325_054E'].astype(int) +
                           B19325['B19325_055E'].astype(int) +
                           B19325['B19325_056E'].astype(int) +
                           B19325['B19325_074E'].astype(int) +
                           B19325['B19325_076E'].astype(int) +
                           B19325['B19325_077E'].astype(int) +
                           B19325['B19325_078E'].astype(int) +
                           B19325['B19325_079E'].astype(int))
B19325['idincome10000-14999'] = (B19325['B19325_010E'].astype(int) +
                                 B19325['B19325_011E'].astype(int) +
                                 B19325['B19325_033E'].astype(int) +
                                 B19325['B19325_034E'].astype(int) +
                                B19325['B19325_057E'].astype(int) +
                                 B19325['B19325_058E'].astype(int) +
                                 B19325['B19325_080E'].astype(int) +
                                 B19325['B19325_081E'].astype(int))
B19325['idincome15000-24999'] = (B19325['B19325_012E'].astype(int) +
                                 B19325['B19325_013E'].astype(int) +
                                 B19325['B19325_014E'].astype(int) +
                                 B19325['B19325_015E'].astype(int) +
                                 B19325['B19325_035E'].astype(int) +
                                 B19325['B19325_036E'].astype(int) +
                                 B19325['B19325_037E'].astype(int) +
                                 B19325['B19325_038E'].astype(int) +
                                B19325['B19325_059E'].astype(int) +
                                 B19325['B19325_060E'].astype(int) +
                                 B19325['B19325_061E'].astype(int) +
                                 B19325['B19325_062E'].astype(int) +
                                 B19325['B19325_082E'].astype(int) +
                                 B19325['B19325_083E'].astype(int) +
                                 B19325['B19325_084E'].astype(int) +
                                 B19325['B19325_085E'].astype(int))
B19325['idincome25000-34999'] = (B19325['B19325_016E'].astype(int) +
                                 B19325['B19325_017E'].astype(int) +
                                 B19325['B19325_039E'].astype(int) +
                                 B19325['B19325_040E'].astype(int) +
                                B19325['B19325_063E'].astype(int) +
                                 B19325['B19325_064E'].astype(int) +
                                 B19325['B19325_086E'].astype(int) +
                                 B19325['B19325_087E'].astype(int))
B19325['idincome35000-49999'] = (B19325['B19325_018E'].astype(int) +
                                 B19325['B19325_019E'].astype(int) +
                                 B19325['B19325_020E'].astype(int) +
                                 B19325['B19325_041E'].astype(int) +
                                 B19325['B19325_042E'].astype(int) +
                                 B19325['B19325_043E'].astype(int) +
                                B19325['B19325_065E'].astype(int) +
                                 B19325['B19325_066E'].astype(int) +
                                 B19325['B19325_067E'].astype(int) +
                                 B19325['B19325_088E'].astype(int) +
                                 B19325['B19325_089E'].astype(int) +
                                 B19325['B19325_090E'].astype(int))
B19325['idincome50000-64999'] = (B19325['B19325_021E'].astype(int) +
                                 B19325['B19325_022E'].astype(int) +
                                 B19325['B19325_044E'].astype(int) +
                                 B19325['B19325_045E'].astype(int) +
                                B19325['B19325_068E'].astype(int) +
                                 B19325['B19325_069E'].astype(int) +
                                 B19325['B19325_091E'].astype(int) +
                                 B19325['B19325_092E'].astype(int))
B19325['idincome65000-74999'] = (B19325['B19325_023E'].astype(int) +
                                 B19325['B19325_046E'].astype(int) +
                                B19325['B19325_070E'].astype(int) +
                                 B19325['B19325_093E'].astype(int))
B19325['idincome75000+'] = (B19325['B19325_024E'].astype(int) +
                            B19325['B19325_025E'].astype(int) +
                            B19325['B19325_047E'].astype(int) +
                            B19325['B19325_048E'].astype(int) +
                           B19325['B19325_071E'].astype(int) +
                            B19325['B19325_072E'].astype(int) +
                            B19325['B19325_094E'].astype(int) +
                            B19325['B19325_095E'].astype(int))

B19325.drop(labels=B19325.columns.difference(B19325_colnames), axis=1, inplace=True)

# Combine columns to match bins used in survey
B19325['idincome50000-64999'] = B19325['idincome50000-64999'].astype(int) + B19325['idincome65000-74999'].astype(int)
B19325.drop('idincome65000-74999', axis=1, inplace=True)
B19325.rename(columns={'idincome50000-64999':'idincome50000-74999'}, inplace=True)

In [12]:
# Join data from different census tables
acs_dataframes = [S1501, S0101, B19325]
acs_data = functools.reduce(lambda left,right: pd.merge(left,right,on='GEO_ID'), acs_dataframes)

# Get MSA id from the extended geo id, remove acs labels, save marginal counts for popsim
acs_data.dropna(inplace=True)
acs_data['MSA'] = acs_data['GEO_ID'].str.slice(-5,).astype(int)
acs_data = acs_data[acs_data['MSA'].isin(msa_list)]
acs_data.to_csv('./populationsim-master/example_msa_survey/data/control_totals_msa.csv', index=False)
acs_data

,GEO_ID,edu1-15,edu16-17,edu18-19,edu20,edu21,edu22-24,TOTAL_P,age0-19,age20-24,...,sexF,sexM,idincome-9999,idincome10000-14999,idincome15000-24999,idincome25000-34999,idincome35000-49999,idincome50000-74999,idincome75000+,MSA
10,310M500US10580,47134,159409,98708,75219,125071,103106,880736,249266,68764,...,449355,431380,175848,53790,90088,77650,93974,117190,130172,10580
14,310M500US10740,71210,154055,146130,53423,112215,89130,912108,278825,58778,...,463469,448638,219143,66834,103510,86682,88624,86760,91811,10740
19,310M500US10900,58216,199585,99539,54243,106961,65096,837610,244404,53553,...,426481,411128,172095,54108,96108,81677,89421,96856,103155,10900
31,310M500US11460,10823,33523,40451,16248,60380,67843,367000,107567,48200,...,185073,181926,81583,22226,35989,33407,34618,42012,60523,11460
48,310M500US12100,24010,59017,36703,12997,34305,17644,266105,78627,17643,...,137309,128795,57456,18573,32358,26883,25157,26755,32071,12100
69,310M500US12980,8159,33557,21950,8296,12525,6650,134212,42696,8682,...,68440,65771,28905,10464,18206,13762,14540,12973,9922,12980
70,310M500US13020,7120,25805,18781,8523,9689,4724,104104,28467,6120,...,52952,51151,22777,8360,13441,11703,11948,11138,7435,13020
88,310M500US13740,7261,37781,28227,11281,27044,11946,179071,56039,10303,...,90622,88448,32021,11763,20928,17849,21101,21099,19660,13740
89,310M500US13780,14991,52774,29023,20605,25322,20045,241874,69748,21946,...,122654,119219,58750,18460,29048,23178,25700,26233,21387,13780
124,310M500US15380,66205,228268,146051,97172,146777,112234,1130175,321039,73878,...,582564,547610,233011,78160,129226,109748,128147,136766,126946,15380
144,310M500US16180,5121,10205,11328,3951,5629,3090,54773,15274,3146,...,26640,28132,11296,3618,6150,6066,6968,6809,4589,16180
183,310M500US17860,8007,29854,24964,9299,30789,22860,205369,63744,27826,...,104673,100695,52868,13223,21724,19383,23967,20288,18524,17860
240,310M500US20260,11382,57186,49999,26377,36868,18390,289247,80722,22991,...,143333,145913,58693,21685,35623,29504,34332,35347,27150,20260
263,310M500US21300,5787,21042,11692,7220,7568,6295,84895,25168,5061,...,42832,42062,19901,6020,9768,8951,8632,9034,7491,21300
264,310M500US21340,111274,121981,118890,42095,80791,38585,840477,320086,70868,...,426638,413838,240192,63138,98722,70096,65096,63164,48582,21340
281,310M500US22020,7764,31582,31645,21292,41213,16918,240421,81027,26029,...,119434,120986,41986,14395,23131,24139,30954,31976,26793,22020
284,310M500US22140,12305,24860,22276,9932,7114,5079,126515,45809,7775,...,63831,62683,36080,8878,13576,10019,10005,10697,8974,22140
327,310M500US24020,9294,32082,16808,10413,13257,10971,125892,31691,7053,...,62353,63538,24569,9459,15858,13986,15030,15624,12229,24020
332,310M500US24220,3752,15677,14673,8400,13271,6821,101745,33526,12579,...,49318,52426,20510,6691,10861,10442,12084,12593,9548,24220
333,310M500US24260,6586,15853,11890,4561,7420,2955,75480,27409,4392,...,37421,38058,13041,4631,8688,9087,9973,7821,5339,24260
340,310M500US24500,4553,18146,13160,5264,9687,4545,81625,25591,6174,...,40388,41236,15550,6501,10627,8988,9854,7829,6641,24500
366,310M500US25620,13727,30555,23669,10845,18246,11470,168177,56783,13961,...,87775,80401,45763,13775,20829,13831,14123,13996,11913,25620
404,310M500US27100,10171,35925,28423,11250,16535,7872,158636,47322,10196,...,77648,80987,37467,11835,18863,16023,17567,15838,12810,27100
405,310M500US27140,50042,102170,87884,37343,72436,45512,597727,198691,41145,...,310992,286734,149987,40614,69339,55990,59134,53540,49524,27140
420,310M500US27620,10819,35103,20969,7954,18938,9689,151273,47110,9595,...,74153,77119,32749,8884,16754,17303,19676,16906,11044,27620
429,310M500US28020,10587,36155,38368,15571,38045,25916,262745,82001,31966,...,134190,128554,59060,18685,31169,25692,26738,27072,26852,28020
445,310M500US28740,12059,38710,23180,13994,22618,19629,178665,44731,11600,...,90189,88475,41611,12549,19532,16521,18826,20591,23077,28740
453,310M500US29100,4422,23751,19157,11837,18870,10748,136542,40113,14731,...,69699,66842,28002,9702,15241,14705,17717,16019,12360,29100
464,310M500US29620,23517,92336,89060,34762,67569,47720,546772,166051,55967,...,279107,267664,128112,36686,61142,51986,61417,60371,54225,29620
467,310M500US29740,26914,29734,28385,10383,21105,14437,216069,75813,23311,...,110014,106054,63081,18899,28002,17140,16206,14805,13313,29740
469,310M500US29820,207228,424198,373444,120056,240892,123340,2182004,696627,134302,...,1092640,1089363,494210,131848,244884,226607,239096,206822,212643,29820
489,310M500US30700,12934,44935,43388,23942,50172,29724,330329,109495,36836,...,164342,165986,67298,20198,34373,32924,38876,39588,33400,30700
514,310M500US31700,22986,75053,53009,29170,70773,40177,413035,116900,26633,...,207659,205375,71628,22933,42507,39494,46389,52852,67475,31700
517,310M500US31860,3456,15885,12842,7855,13825,7215,100749,31607,13710,...,50273,50475,22004,7374,10371,9954,12395,12387,8971,31860
551,310M500US33220,3363,16889,11597,5997,12272,8256,83355,24628,4948,...,42333,41021,17536,6196,9646,7433,8447,8307,11094,33220
557,310M500US33460,154052,513566,483690,252389,661932,354406,3573609,1166968,218688,...,1802122,1771486,607249,185848,316384,306795,400847,463533,584637,33460
559,310M500US33540,3441,17099,17481,6982,21073,12876,117309,32029,12143,...,58566,58742,23869,9276,17175,13281,12459,11266,11348,33540
588,310M500US34740,10339,40256,30438,13992,16129,7208,173297,54939,10611,...,87127,86169,40029,12906,22735,18767,18293,16896,10434,34740
619,310M500US36140,5217,22350,13780,5551,14702,8208,93086,22465,5063,...,47589,45496,17565,7025,10399,9598,9899,11442,13738,36140
691,310M500US39100,43265,126163,86074,47193,81414,64279,673839,213804,50337,...,337256,336582,149303,41282,63473,54948,60368,70681,109064,39100
720,310M500US40340,8676,35370,28342,18420,33681,23688,217964,72367,12087,...,110529,107434,33859,11650,21286,19638,26094,30586,30170,40340
721,310M500US40380,70934,192002,129329,89541,144769,116037,1072877,313698,74551,...,551324,521552,222670,75569,119703,107888,119179,127852,117573,40380
737,310M500US40980,14016,43902,32747,13784,17593,9921,191821,57908,12973,...,98673,93147,46692,15008,24416,20274,19281,17545,14765,40980
738,310M500US41060,10354,35411,28197,17535,23024,10186,198581,67659,19217,...,98747,99833,36548,13743,22100,20951,25176,23444,17579,41060
762,310M500US42140,11813,24722,21452,7342,22624,22851,149293,37138,7854,...,76915,72377,31806,10377,16690,15008,15587,16661,20688,42140
812,310M500US44180,27946,92307,75522,23943,53353,30527,462434,146626,40893,...,236176,226257,106338,35637,59076,49232,52665,40861,31875,44180
833,310M500US45060,41677,126906,79175,55039,79208,61933,652416,198519,46151,...,334743,317672,142433,42286,72660,62091,71124,77680,71220,45060
853,310M500US45940,28459,60780,38874,13954,54547,50920,367922,112636,28628,...,188099,179822,88177,18673,36093,27694,29689,38828,64103,45940
880,310M500US47220,21262,40651,18044,7111,11107,4946,151906,49215,9235,...,74209,77696,38143,10818,20201,14165,13248,13636,11438,47220

#### Tract

In [13]:
S1501_cols = ['GEO_ID',
             'S1501_C01_007E',
             'S1501_C01_008E',
             'S1501_C01_009E',
             'S1501_C01_010E',
             'S1501_C01_011E',
             'S1501_C01_012E',
             'S1501_C01_013E']
S1501_colnames = ['GEO_ID',
                 'edu1-11',
                 'edu12-15',
                 'edu16-17',
                 'edu18-19',
                 'edu20',
                 'edu21',
                 'edu22-24']
S1501 = pd.read_csv('./data/ACS/TRACT/S1501.csv', low_memory=False, usecols=S1501_cols).iloc[1:,:]
S1501.columns = S1501_colnames

# Combine columns to match bins used in survey
S1501['edu1-11'] = S1501['edu1-11'].astype(int) + S1501['edu12-15'].astype(int)
S1501.drop('edu12-15', axis=1, inplace=True)
S1501.rename(columns={'edu1-11':'edu1-15'}, inplace=True)

In [14]:
S0101_cols = ['GEO_ID',
             'S0101_C01_001E',
             'S0101_C01_002E',
             'S0101_C01_003E',
             'S0101_C01_004E',
             'S0101_C01_005E',
             'S0101_C01_006E',
             'S0101_C01_007E',
             'S0101_C01_008E',
             'S0101_C01_009E',
             'S0101_C01_010E',
             'S0101_C01_011E',
             'S0101_C01_012E',
             'S0101_C01_013E',
             'S0101_C01_014E',
             'S0101_C01_015E',
             'S0101_C01_016E',
             'S0101_C01_017E',
             'S0101_C01_018E',
             'S0101_C01_019E',
             'S0101_C01_033E',
             'S0101_C01_034E']
S0101_colnames = ['GEO_ID',
                 'TOTAL_P',
                 'age0-5',
                 'age5-9',
                 'age10-14',
                 'age15-19',
                 'age20-24',
                 'age25-29',
                 'age30-34',
                 'age35-39',
                 'age40-44',
                 'age45-49',
                 'age50-54',
                 'age55-59',
                 'age60-64',
                 'age65-69',
                 'age70-74',
                 'age75-79',
                 'age80-84',
                 'age80+',
                 'sexRatio',
                 'sexM']
S0101 = pd.read_csv('./data/ACS/TRACT/S0101.csv', low_memory=False, usecols=S0101_cols).iloc[1:,:]
S0101.columns = S0101_colnames
S0101['sexRatio'] = pd.to_numeric(S0101['sexRatio'], errors='coerce').fillna(0)

# Gender counts are in percentage
S0101['sexRatio'] = S0101['TOTAL_P'].astype(float) / (S0101['sexRatio'].astype(float)/100 + 1.0)
S0101['sexM'] = S0101['TOTAL_P'].astype(float) - S0101['sexRatio'].astype(float)
S0101.rename(columns={'sexRatio':'sexF'}, inplace=True)
S0101['sexM'] = S0101['sexM'].astype(int)
S0101['sexF'] = S0101['sexF'].astype(int)

# Combine columns to get wider bins
S0101['age15-19'] = (S0101['age0-5'].astype(int) + 
                              S0101['age0-5'].astype(int) + 
                              S0101['age5-9'].astype(int) + 
                              S0101['age10-14'].astype(int) + 
                              S0101['age15-19'].astype(int))
S0101.drop(['age0-5', 'age5-9', 'age10-14'], axis=1, inplace=True)
S0101.rename(columns={'age15-19':'age0-19'}, inplace=True)

S0101['age40-44'] = (S0101['age25-29'].astype(int) +
                     S0101['age30-34'].astype(int) +
                     S0101['age35-39'].astype(int) +
                     S0101['age40-44'].astype(int))
S0101.drop(['age25-29', 'age30-34', 'age35-39'], axis=1, inplace=True)
S0101.rename(columns={'age40-44':'age25-44'}, inplace=True)

S0101['age50-54'] = (S0101['age45-49'].astype(int) +
                     S0101['age50-54'].astype(int))
S0101.drop(['age45-49'], axis=1, inplace=True)
S0101.rename(columns={'age50-54':'age45-54'}, inplace=True)

S0101['age80+'] = (S0101['age60-64'].astype(int) + 
                            S0101['age65-69'].astype(int) + 
                            S0101['age70-74'].astype(int) + 
                            S0101['age75-79'].astype(int) + 
                            S0101['age80-84'].astype(int) + 
                            S0101['age80+'].astype(int))
S0101.drop(['age60-64', 'age65-69', 'age70-74', 'age75-79', 'age80-84'], axis=1, inplace=True)
S0101.rename(columns={'age80+':'age60+'}, inplace=True)

In [15]:
B19325_colnames = ['GEO_ID',
                 'idincome-9999',
                 'idincome10000-14999',
                 'idincome15000-24999',
                 'idincome25000-34999',
                 'idincome35000-49999',
                 'idincome50000-64999',
                 'idincome65000-74999',
                 'idincome75000+']
B19325 = pd.read_csv('./data/ACS/TRACT/B19325.csv', low_memory=False).iloc[1:,:]

B19325['idincome-9999'] = (B19325['B19325_004E'].astype(int) +
                           B19325['B19325_006E'].astype(int) +
                           B19325['B19325_007E'].astype(int) +
                           B19325['B19325_008E'].astype(int) +
                           B19325['B19325_009E'].astype(int) +
                           B19325['B19325_027E'].astype(int) +
                           B19325['B19325_029E'].astype(int) +
                           B19325['B19325_030E'].astype(int) +
                           B19325['B19325_031E'].astype(int) +
                           B19325['B19325_032E'].astype(int) +
                          B19325['B19325_051E'].astype(int) +
                           B19325['B19325_053E'].astype(int) +
                           B19325['B19325_054E'].astype(int) +
                           B19325['B19325_055E'].astype(int) +
                           B19325['B19325_056E'].astype(int) +
                           B19325['B19325_074E'].astype(int) +
                           B19325['B19325_076E'].astype(int) +
                           B19325['B19325_077E'].astype(int) +
                           B19325['B19325_078E'].astype(int) +
                           B19325['B19325_079E'].astype(int))
B19325['idincome10000-14999'] = (B19325['B19325_010E'].astype(int) +
                                 B19325['B19325_011E'].astype(int) +
                                 B19325['B19325_033E'].astype(int) +
                                 B19325['B19325_034E'].astype(int) +
                                B19325['B19325_057E'].astype(int) +
                                 B19325['B19325_058E'].astype(int) +
                                 B19325['B19325_080E'].astype(int) +
                                 B19325['B19325_081E'].astype(int))
B19325['idincome15000-24999'] = (B19325['B19325_012E'].astype(int) +
                                 B19325['B19325_013E'].astype(int) +
                                 B19325['B19325_014E'].astype(int) +
                                 B19325['B19325_015E'].astype(int) +
                                 B19325['B19325_035E'].astype(int) +
                                 B19325['B19325_036E'].astype(int) +
                                 B19325['B19325_037E'].astype(int) +
                                 B19325['B19325_038E'].astype(int) +
                                B19325['B19325_059E'].astype(int) +
                                 B19325['B19325_060E'].astype(int) +
                                 B19325['B19325_061E'].astype(int) +
                                 B19325['B19325_062E'].astype(int) +
                                 B19325['B19325_082E'].astype(int) +
                                 B19325['B19325_083E'].astype(int) +
                                 B19325['B19325_084E'].astype(int) +
                                 B19325['B19325_085E'].astype(int))
B19325['idincome25000-34999'] = (B19325['B19325_016E'].astype(int) +
                                 B19325['B19325_017E'].astype(int) +
                                 B19325['B19325_039E'].astype(int) +
                                 B19325['B19325_040E'].astype(int) +
                                B19325['B19325_063E'].astype(int) +
                                 B19325['B19325_064E'].astype(int) +
                                 B19325['B19325_086E'].astype(int) +
                                 B19325['B19325_087E'].astype(int))
B19325['idincome35000-49999'] = (B19325['B19325_018E'].astype(int) +
                                 B19325['B19325_019E'].astype(int) +
                                 B19325['B19325_020E'].astype(int) +
                                 B19325['B19325_041E'].astype(int) +
                                 B19325['B19325_042E'].astype(int) +
                                 B19325['B19325_043E'].astype(int) +
                                B19325['B19325_065E'].astype(int) +
                                 B19325['B19325_066E'].astype(int) +
                                 B19325['B19325_067E'].astype(int) +
                                 B19325['B19325_088E'].astype(int) +
                                 B19325['B19325_089E'].astype(int) +
                                 B19325['B19325_090E'].astype(int))
B19325['idincome50000-64999'] = (B19325['B19325_021E'].astype(int) +
                                 B19325['B19325_022E'].astype(int) +
                                 B19325['B19325_044E'].astype(int) +
                                 B19325['B19325_045E'].astype(int) +
                                B19325['B19325_068E'].astype(int) +
                                 B19325['B19325_069E'].astype(int) +
                                 B19325['B19325_091E'].astype(int) +
                                 B19325['B19325_092E'].astype(int))
B19325['idincome65000-74999'] = (B19325['B19325_023E'].astype(int) +
                                 B19325['B19325_046E'].astype(int) +
                                B19325['B19325_070E'].astype(int) +
                                 B19325['B19325_093E'].astype(int))
B19325['idincome75000+'] = (B19325['B19325_024E'].astype(int) +
                            B19325['B19325_025E'].astype(int) +
                            B19325['B19325_047E'].astype(int) +
                            B19325['B19325_048E'].astype(int) +
                           B19325['B19325_071E'].astype(int) +
                            B19325['B19325_072E'].astype(int) +
                            B19325['B19325_094E'].astype(int) +
                            B19325['B19325_095E'].astype(int))

B19325.drop(labels=B19325.columns.difference(B19325_colnames), axis=1, inplace=True)

# Combine columns to match bins used in survey
B19325['idincome50000-64999'] = B19325['idincome50000-64999'].astype(int) + B19325['idincome65000-74999'].astype(int)
B19325.drop('idincome65000-74999', axis=1, inplace=True)
B19325.rename(columns={'idincome50000-64999':'idincome50000-74999'}, inplace=True)

In [16]:
# Join data from different census tables
acs_dataframes = [S1501, S0101, B19325]
acs_data = functools.reduce(lambda left,right: pd.merge(left,right,on='GEO_ID'), acs_dataframes)

# Get TRACT id from the extended geo id, remove acs labels, save marginal counts for popsim
acs_data.dropna(inplace=True)
acs_data['TRACT'] = acs_data['GEO_ID'].str.slice(-11,).astype(int)
acs_data = acs_data[acs_data['TRACT'].isin(tract_list)]
acs_data.to_csv('./populationsim-master/example_msa_survey/data/control_totals_tract.csv', index=False)
acs_data

,GEO_ID,edu1-15,edu16-17,edu18-19,edu20,edu21,edu22-24,TOTAL_P,age0-19,age20-24,...,sexF,sexM,idincome-9999,idincome10000-14999,idincome15000-24999,idincome25000-34999,idincome35000-49999,idincome50000-74999,idincome75000+,TRACT
27494,1400000US26011970500,316,1223,684,350,266,80,4068,1027,291,...,1986,2081,925,412,575,440,488,384,174,26011970500
27503,1400000US26015010500,106,688,557,333,493,287,3480,928,241,...,1687,1792,679,330,251,461,527,471,403,26015010500
27506,1400000US26017280300,117,145,252,62,183,72,1338,485,146,...,846,491,324,161,278,107,113,92,62,26017280300
27507,1400000US26017280400,168,486,480,191,154,91,2555,799,375,...,1179,1375,687,256,360,280,204,337,66,26017280400
27508,1400000US26017280500,185,435,608,231,565,268,3196,749,182,...,1524,1671,686,129,316,257,320,432,394,26017280500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61266,1400000US55109120502,130,786,1083,609,814,326,5665,2006,324,...,2832,2832,633,349,695,647,832,1180,514,55109120502
61267,1400000US55109120700,206,1258,696,431,391,138,4534,1416,245,...,2231,2302,735,332,479,418,614,599,479,55109120700
61268,1400000US55109120901,76,627,540,471,824,343,4320,1351,341,...,2330,1989,519,232,298,359,627,745,587,55109120901
61269,1400000US55109120904,81,629,641,398,707,343,4211,1488,161,...,2045,2165,645,228,227,446,400,648,773,55109120904
61270,1400000US55109121000,221,1396,1148,771,1098,319,7647,2886,422,...,3844,3802,1000,359,547,708,922,1318,1084,55109121000

#### Region

In [17]:
# Sum the values across all census tracts to get region marginals
region_data = acs_data.iloc[:,1:-1].apply(pd.to_numeric, errors='coerce')
region_data = pd.DataFrame(region_data.sum()).transpose()
region_data['REGION'] = '1'
region_data.dropna(inplace=True)
region_data.to_csv('./populationsim-master/example_msa_survey/data/control_totals_region.csv', index=False)
region_data

,edu1-15,edu16-17,edu18-19,edu20,edu21,edu22-24,TOTAL_P,age0-19,age20-24,age25-44,...,sexF,sexM,idincome-9999,idincome10000-14999,idincome15000-24999,idincome25000-34999,idincome35000-49999,idincome50000-74999,idincome75000+,REGION
0,1053898,2843890,2192697,1055291,2056134,1315058,15499884,4763641,1129985,3989237,...,7866903,7628984,3280703,1000776,1684806,1485963,1702037,1759115,1833368,1

In [18]:
region_data.columns

Index(['edu1-15', 'edu16-17', 'edu18-19', 'edu20', 'edu21', 'edu22-24',
       'TOTAL_P', 'age0-19', 'age20-24', 'age25-44', 'age45-54', 'age55-59',
       'age60+', 'sexF', 'sexM', 'idincome-9999', 'idincome10000-14999',
       'idincome15000-24999', 'idincome25000-34999', 'idincome35000-49999',
       'idincome50000-74999', 'idincome75000+', 'REGION'],
      dtype='object')