In [1]:
import functools
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

## Geographic Relationships

In [2]:
# Clean up the file generated from QGIS spatial join
geo = pd.read_csv('./data/TIGER/msa_puma_tract_join.csv', usecols=['jmsa_GEOID','jpuma_GEOI','GEOID']).dropna()
geo['REGION'] = '1'
geo = geo[['REGION','jmsa_GEOID','jpuma_GEOI','GEOID']].astype(int)
geo.columns = ['REGION','MSA','PUMA','TRACT']

# Get rid of Micropolitan Statistical Areas
msa_ids = pd.read_csv('./data/TIGER/msa_list.csv')
geo = geo[geo['MSA'].isin(msa_ids['GEOID'])]
full_msa_list = pd.unique(geo['MSA'])

# Limit to certain MSAs if desired, there are 925 total MSA + MicroSA, 384 MSA
msas_to_use = full_msa_list[0:49]
geo = geo[geo['MSA'].isin(msas_to_use)]

# Remove select problem PUMAs not Matched to Tracts/MSAs in ACS Tables
geo = geo[geo['PUMA']!=2101600]
geo = geo[geo['PUMA']!=4701400]
geo = geo[geo['PUMA']!=4501300]
geo = geo[geo['PUMA']!=5151145]

geo.to_csv('./populationsim-master/example_msa/data/geo_cross_walk.csv', index=False)

# Get the list of pumas, msas, and tracts that are being synthesized
puma_list = list(pd.unique(geo['PUMA']))
puma_list = [int(i) for i in puma_list]
msa_list = list(pd.unique(geo['MSA']))
msa_list = [int(i) for i in msa_list]
tract_list = list(pd.unique(geo['TRACT']))
tract_list = [int(i) for i in tract_list]

## Seed Samples from PUMS

#### Persons

In [3]:
p_data = []
pums_file_list=['./data/PUMS/psam_pusa.csv','./data/PUMS/psam_pusb.csv','./data/PUMS/psam_pusc.csv','./data/PUMS/psam_pusd.csv']
for file in pums_file_list:
    print(file)
    p_df = pd.read_csv(file,
                       usecols=['SERIALNO','ST','PUMA','PWGTP','AGEP','SEX','RAC1P','COW','PINCP','SCHL'],
                       chunksize=100000,
                       dtype=str)
    chunk_list = []
    for chunk in p_df:
        chunk.dropna(inplace=True) # Side effect limits to >16yrs old
        chunk['ST'] = chunk['ST'].astype(str)
        chunk['PUMA'] = chunk['PUMA'].astype(str)
        chunk['PUMA'] = chunk['PUMA'].str.zfill(5)
        chunk['PUMA'] = chunk['ST'] + chunk['PUMA']
        chunk['PUMA'] = chunk['PUMA'].astype(int)
        chunk = chunk[chunk['PUMA'].isin(puma_list)]
        chunk_list.append(chunk)
    p_df = pd.concat(chunk_list)
    p_data.append(p_df)

./data/PUMS/psam_pusa.csv
./data/PUMS/psam_pusb.csv
./data/PUMS/psam_pusc.csv
./data/PUMS/psam_pusd.csv

In [4]:
p_data = pd.concat(p_data)
p_data

              SERIALNO     PUMA  ST PWGTP AGEP COW SCHL SEX   PINCP RAC1P
0        2015000000067   102701  01     9   56   6   14   1    3450     2
3        2015000000067   102701  01    14   61   1   19   1   35000     2
6        2015000000463   102701  01     7   53   7   21   1  150000     1
7        2015000000463   102701  01     9   53   1   19   2    6000     1
10       2015000000518   100100  01    38   46   1   14   2   29400     1
...                ...      ...  ..   ...  ...  ..  ...  ..     ...   ...
2800411  2019HU1405425  4953001  49    25   45   1   16   2   40000     1
2800412  2019HU1405425  4953001  49    34   19   1   16   2   33300     1
2800500  2019HU1409016  4953001  49    19   36   3   16   1   47950     1
2800501  2019HU1409255  4953001  49    40   65   1   16   1   56300     8
2800502  2019HU1409255  4953001  49    19   64   1   17   2   11700     1

[1550210 rows x 10 columns]

In [5]:
# Check for NA values
p_data['SCHL'] = p_data['SCHL'].fillna(value=-1) # 1
p_data['PINCP'] = p_data['PINCP'].fillna(value=-10000) # 0
p_data['COW'] = p_data['COW'].fillna(value=-1) # 9
p_data.isna().sum()

SERIALNO    0
PUMA        0
ST          0
PWGTP       0
AGEP        0
COW         0
SCHL        0
SEX         0
PINCP       0
RAC1P       0
dtype: int64

#### Households

In [6]:
h_data = []
pums_file_list=['./data/PUMS/psam_husa.csv','./data/PUMS/psam_husb.csv','./data/PUMS/psam_husc.csv','./data/PUMS/psam_husd.csv']
for file in pums_file_list:
    print(file)
    h_df = pd.read_csv(file,
                       usecols=['SERIALNO','ST','PUMA','WGTP','NP','VEH'],
                       chunksize=100000,
                       dtype=str)
    chunk_list = []
    for chunk in h_df:
        chunk.dropna(inplace=True) # Side effect limits to >16yrs old
        chunk = chunk[chunk['NP'].astype(int) > 0] # Remove households with 0 people in them
        chunk['ST'] = chunk['ST'].astype(str)
        chunk['PUMA'] = chunk['PUMA'].astype(str)
        chunk['PUMA'] = chunk['PUMA'].str.zfill(5)
        chunk['PUMA'] = chunk['ST'] + chunk['PUMA']
        chunk['PUMA'] = chunk['PUMA'].astype(int)
        chunk = chunk[chunk['PUMA'].isin(puma_list)]
        chunk_list.append(chunk)
    h_df = pd.concat(chunk_list)
    h_data.append(h_df)

./data/PUMS/psam_husa.csv
./data/PUMS/psam_husb.csv
./data/PUMS/psam_husc.csv
./data/PUMS/psam_husd.csv

In [7]:
h_data = pd.concat(h_data)
h_data

              SERIALNO     PUMA  ST WGTP NP VEH
1        2015000000067   102701  01    9  4   1
3        2015000000160   101000  01   15  1   0
4        2015000000345   101000  01   29  1   1
5        2015000000463   102701  01    6  3   3
6        2015000000477   101100  01   13  1   1
...                ...      ...  ..  ... ..  ..
1319186  2019HU1404737  4953001  49   53  6   6
1319196  2019HU1405375  4953001  49   20  2   2
1319197  2019HU1405425  4953001  49   33  3   3
1319229  2019HU1409016  4953001  49   19  1   1
1319230  2019HU1409255  4953001  49   40  2   2

[992291 rows x 6 columns]

In [8]:
# Check for NA values
h_data.isna().sum()

SERIALNO    0
PUMA        0
ST          0
WGTP        0
NP          0
VEH         0
dtype: int64

In [9]:
# Remove records that are unable to be joined
z = pd.merge(h_data, p_data, on='SERIALNO')
serials_to_keep = list(z['SERIALNO'])
h_data = h_data[h_data['SERIALNO'].isin(serials_to_keep)]
p_data = p_data[p_data['SERIALNO'].isin(serials_to_keep)]
print(len(h_data))
print(len(p_data))

819252
1498954

In [10]:
# Reset household ids
h_data.reset_index(inplace=True)
h_data.reset_index(inplace=True)
h_data['index'] = h_data['level_0']
h_data.drop(labels=['level_0'], axis=1)
p_data = pd.merge(h_data[['index','SERIALNO']], p_data, on='SERIALNO')

/tmp/ipykernel_11682/927498258.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  h_data['index'] = h_data['level_0']

In [11]:
# Check for data issues
print(h_data.duplicated('index').any())

False

In [12]:
# Save seed data to file
h_data.to_csv('./populationsim-master/example_msa/data/seed_households.csv', index=False)
p_data.to_csv('./populationsim-master/example_msa/data/seed_persons.csv', index=False)

## Control Totals from ACS

#### MSA

In [13]:
DP03_cols = ['GEO_ID',
            'DP03_0047E',
            'DP03_0048E',
            'DP03_0049E',
            'DP03_0050E']
DP03_colnames = ['GEO_ID',
                'COW1-2',
                'COW3-5',
                'COW6-7',
                'COW8']
DP03 = pd.read_csv('./data/ACS/MSA/DP03.csv', low_memory=False, usecols=DP03_cols)
DP03.columns = DP03_colnames

In [14]:
DP03

,GEO_ID,COW1-2,COW3-5,COW6-7,COW8
0,id,Estimate!!CLASS OF WORKER!!Civilian employed p...,Estimate!!CLASS OF WORKER!!Civilian employed p...,Estimate!!CLASS OF WORKER!!Civilian employed p...,Estimate!!CLASS OF WORKER!!Civilian employed p...
1,310M500US10100,17901,2750,2089,123
2,310M500US10140,19655,6885,1693,90
3,310M500US10180,57562,11820,4692,212
4,310M500US10220,11653,4832,852,127
...,...,...,...,...,...
934,310M500US49660,199098,28474,13411,321
935,310M500US49700,50432,12962,5216,256
936,310M500US49740,56673,15964,3044,222
937,310M500US49780,31827,4319,2152,33
938,310M500US49820,3378,1076,750,16

In [15]:
S1501_cols = ['GEO_ID',
             'S1501_C01_007E',
             'S1501_C01_008E',
             'S1501_C01_009E',
             'S1501_C01_010E',
             'S1501_C01_011E',
             'S1501_C01_012E',
             'S1501_C01_013E']
S1501_colnames = ['GEO_ID',
                 'SCHL1-11',
                 'SCHL12-15',
                 'SCHL16-17',
                 'SCHL18-19',
                 'SCHL20',
                 'SCHL21',
                 'SCHL22-24']
S1501 = pd.read_csv('./data/ACS/MSA/S1501.csv', low_memory=False, usecols=S1501_cols)
S1501.columns = S1501_colnames

In [16]:
S0802_cols = ['GEO_ID',
             'S0802_C01_001E',
             'S0802_C01_002E',
             'S0802_C01_003E',
             'S0802_C01_004E',
             'S0802_C01_005E',
             'S0802_C01_006E',
             'S0802_C01_007E',
             'S0802_C01_009E',
             'S0802_C01_010E',
             'S0802_C01_012E',
             'S0802_C01_013E',
             'S0802_C01_014E',
             'S0802_C01_015E',
             'S0802_C01_016E',
             'S0802_C01_017E',
             'S0802_C01_018E',
             'S0802_C01_029E',
             'S0802_C01_030E',
             'S0802_C01_031E',
             'S0802_C01_032E',
             'S0802_C01_033E',
             'S0802_C01_034E',
             'S0802_C01_035E',
             'S0802_C01_036E']
S0802_colnames = ['GEO_ID',
                 'TOTAL_P',
                 'AGEP16-19',
                 'AGEP20-24',
                 'AGEP25-44',
                 'AGEP45-54',
                 'AGEP55-59',
                 'AGEP60+',
                 'SEXM',
                 'SEXF',
                 'RAC1P1',
                 'RAC1P2',
                 'RAC1P3-5',
                 'RAC1P6',
                 'RAC1P7',
                 'RAC1P8',
                 'RAC1P9',
                 'PINCP-9999',
                 'PINCP10000-14999',
                 'PINCP15000-24999',
                 'PINCP25000-34999',
                 'PINCP35000-49999',
                 'PINCP50000-64999',
                 'PINCP65000-74999',
                 'PINCP75000+']
S0802 = pd.read_csv('./data/ACS/MSA/S0802.csv', low_memory=False, usecols=S0802_cols)
S0802.columns = S0802_colnames

# All S0802 counts are in percentage, must multiply by the total to get counts
pcts = S0802.iloc[1:,1:].astype(float)
pcts = (pcts / 100).multiply(pcts['TOTAL_P'], axis="index").astype(int)
S0802.iloc[1:,2:] = pcts.iloc[:,1:]

In [17]:
B08201_cols = ['GEO_ID',
              'B08201_001E',
              'B08201_002E',
              'B08201_003E',
              'B08201_004E',
              'B08201_005E',
              'B08201_006E',
              'B08201_007E',
              'B08201_013E',
              'B08201_019E',
              'B08201_025E']
B08201_colnames = ['GEO_ID',
                  'TOTAL_HH',
                  'VEH0',
                  'VEH1',
                  'VEH2',
                  'VEH3',
                  'VEH4+',
                  'NP1',
                  'NP2',
                  'NP3',
                  'NP4+']
B08201 = pd.read_csv('./data/ACS/MSA/B08201.csv', low_memory=False, usecols=B08201_cols)
B08201.columns = B08201_colnames

In [18]:
# Join data from different census tables
acs_dataframes = [DP03, S1501, S0802, B08201]
acs_data = functools.reduce(lambda left,right: pd.merge(left,right,on='GEO_ID'), acs_dataframes)

# Get MSA id from the extended geo id, remove acs labels, save marginal counts for popsim
acs_data.dropna(inplace=True)
acs_data = acs_data.iloc[1:,:]
acs_data['MSA'] = acs_data['GEO_ID'].str.slice(-5,).astype(int)
acs_data = acs_data[acs_data['MSA'].isin(msa_list)]
acs_data.to_csv('./populationsim-master/example_msa/data/control_totals_msa.csv', index=False)
acs_data

,GEO_ID,COW1-2,COW3-5,COW6-7,COW8,SCHL1-11,SCHL12-15,SCHL16-17,SCHL18-19,SCHL20,...,VEH0,VEH1,VEH2,VEH3,VEH4+,NP1,NP2,NP3,NP4+,MSA
29,310M500US11260,140473,39588,11362,380,6000,10509,67489,68262,23789,...,7520,40759,55079,23150,11276,35188,46380,22680,33536,11260
33,310M500US11500,36518,8757,2569,52,4081,8234,25940,19759,6474,...,2659,13546,16817,7497,4086,12522,15561,7156,9366,11500
53,310M500US12220,57278,13826,3496,170,2750,6099,23026,21993,8914,...,2650,19351,23127,9981,5128,17918,19866,10233,12220,12220
59,310M500US12540,262672,57362,22747,664,72345,66971,149493,119987,40909,...,18572,83311,101891,44356,22152,56033,74753,43532,95964,12540
91,310M500US13820,408613,65329,23379,849,25497,55956,203223,160401,64376,...,25554,132542,157116,69454,32896,123195,141853,69069,83445,13820
186,310M500US17980,96915,23098,6090,196,8307,19083,60219,52609,19842,...,11306,40567,42403,16290,8214,37394,39237,17954,24195,17980
217,310M500US19300,75806,12725,6435,125,3467,10426,41797,32998,14276,...,2656,26040,34844,12503,4887,23955,31304,10710,14961,19300
221,310M500US19460,52961,8155,3123,109,6603,11359,34680,22710,9034,...,3028,16623,21523,11230,6191,16134,22001,8909,11551,19460
235,310M500US20020,49883,7681,3886,138,5185,11072,33233,23491,9967,...,3483,19117,20385,9435,3904,16799,20763,8304,10458,20020
255,310M500US20940,40387,15530,4053,104,17182,16154,26782,26061,7186,...,3497,12939,16037,8587,3769,9235,11633,7847,16114,20940
277,310M500US21820,29695,13407,2332,104,1231,2175,13993,19210,5835,...,1978,10277,14571,5859,3503,9121,12299,6059,8709,21820
287,310M500US22220,204825,27823,14900,274,19832,23337,91918,65662,18779,...,8782,57514,79442,31143,13972,46839,65690,31245,47079,22220
292,310M500US22380,47415,15691,3548,166,3061,4815,18310,19844,7008,...,2328,15222,17435,8158,4304,12448,17541,6623,10835,22380
295,310M500US22520,49520,9724,3686,189,4330,9479,37613,21772,7353,...,3619,17860,22549,10298,6025,17450,23358,8952,10591,22520
306,310M500US22900,86786,13432,5555,164,10004,17163,58044,38567,13488,...,5799,33102,36282,15638,6562,27053,34322,14896,21112,22900
314,310M500US23420,304894,75700,26064,853,83462,61770,137213,141365,52408,...,25528,101307,111160,46386,23525,68240,85166,51188,103312,23420
315,310M500US23460,34404,5990,2204,52,3473,7654,23668,17890,6532,...,2367,12330,13318,7288,3639,11628,14095,5803,7416,23460
385,310M500US26300,33194,5062,2883,82,2156,5623,22462,19838,5924,...,3056,14022,15058,5831,2242,12846,15925,5247,6191,26300
393,310M500US26620,167805,38822,10391,402,10106,20554,71170,63445,25521,...,7919,56870,69144,30334,16065,53150,63401,28114,35667,26620
426,310M500US27860,47641,7875,3913,134,3902,6664,30868,17919,6008,...,3432,18168,19599,6873,2829,14350,16778,8926,10847,27860
461,310M500US29420,58218,9512,5053,149,5535,16533,55982,46648,13188,...,4719,31226,31763,12956,6225,25233,38199,10897,12560,29420
491,310M500US30780,266778,60774,15811,763,15122,32084,144576,113352,38387,...,17515,97494,110866,41461,16791,84831,97369,45408,56519,30780
499,310M500US31080,5199896,729333,581019,11766,1015262,736842,1792896,1739279,649875,...,337964,1390456,1599876,651711,374280,1070139,1248928,743275,1291945,31080
543,310M500US32820,506633,81297,32321,971,34140,71154,256773,206588,62726,...,38844,176097,179319,71724,31248,148369,161787,80889,106187,32820
545,310M500US32900,81365,16658,6849,111,29929,19593,40500,36611,11637,...,5504,22037,28562,15268,8637,14909,21418,13189,30492,32900
563,310M500US33660,147659,23699,8473,270,9316,30391,99601,61636,23114,...,11386,56329,58964,24455,11107,50501,54069,26326,31345,33660
564,310M500US33700,180407,31887,15384,497,38908,33583,100758,85694,26031,...,10288,48853,66535,31530,16692,35646,50654,29069,58529,33700
567,310M500US33860,121136,34420,7488,101,9870,23431,71231,51692,19588,...,10081,50107,51231,22881,10583,44248,49061,22838,28736,33860
593,310M500US34900,56704,8168,6044,225,9024,5203,17473,22483,8949,...,2403,13811,17871,9284,5336,12599,16653,6996,12457,34900
644,310M500US37100,324550,57955,32614,633,52258,32998,109206,129975,53034,...,11599,68352,106810,51344,32935,58819,83681,45995,82545,37100
666,310M500US38060,1838150,252205,131835,3826,176482,219475,732279,776969,273176,...,98073,600578,655497,235861,103387,448698,582522,243943,418233,38060
669,310M500US38220,21978,8457,1867,107,2501,6543,25771,13823,3910,...,3060,11819,11742,5290,1880,11006,11991,4835,5959,38220
693,310M500US39150,67772,11928,8133,204,4161,11522,45277,52115,16799,...,4003,32374,39402,15445,7162,30281,43555,10698,13852,39150
708,310M500US39820,54154,13006,6836,138,2761,8514,32118,40243,14844,...,4786,21684,26871,12145,5695,19812,26659,10205,14505,39820
716,310M500US40140,1514806,296223,132762,3457,261774,288603,774152,715906,238633,...,60629,375369,508241,257214,159481,278227,385764,222122,474821,40140
736,310M500US40900,764756,220993,79672,1523,82410,84840,331459,386179,154160,...,50344,257016,322351,134657,66782,210530,276145,132252,212223,40900
748,310M500US41500,143492,28610,15187,419,54055,24464,56000,50415,22628,...,5861,36030,47570,24279,13415,27519,35759,19180,44697,41500
753,310M500US41740,1239724,220851,125535,2622,148052,133979,409613,501363,181782,...,62012,339885,449010,178950,95429,268466,367936,190334,298550,41740
757,310M500US41860,1985237,303112,198542,3919,204315,164479,527527,587649,225351,...,205750,553304,579523,239527,125171,446685,543621,289187,423782,41860
759,310M500US41940,868975,99501,58595,1370,94316,68503,197824,210994,95073,...,33610,177697,265872,113823,67348,132695,201970,123927,199758,41940
796,310M500US43420,28447,12540,2687,86,4602,6455,21124,25213,9992,...,2750,16470,17937,8229,4777,15065,18448,6720,9930,43420
825,310M500US44700,248443,45430,18938,318,51883,44960,132461,106367,44079,...,14048,61268,83940,44302,25009,46474,64096,37630,80367,44700
842,310M500US45500,46492,10708,2470,45,3575,8517,36360,26906,7144,...,4105,19162,20620,8657,3321,16114,18839,9687,11225,45500
857,310M500US46060,340712,75210,29537,924,30705,49187,153022,172601,59556,...,33012,149934,147757,52355,21681,123567,145236,55746,80190,46060
861,310M500US46220,83361,19632,5302,140,5727,14780,50508,33608,10938,...,6242,29541,32840,13554,6522,26165,31096,14551,16887,46220
872,310M500US46700,154727,38102,13772,377,16710,18429,72340,83235,31249,...,7333,39983,54261,30402,17886,33203,48290,26497,41875,46700
884,310M500US47300,136175,29120,12996,396,49037,30088,69314,61027,22188,...,8077,42321,51590,23993,12257,25401,35908,22443,54486,47300
935,310M500US49700,50432,12962,5216,256,10984,11195,25946,31005,11912,...,3701,16391,21420,11079,6399,13097,17806,9597,18490,49700
936,310M500US49740,56673,15964,3044,222,17904,17540,34067,32837,10256,...,4225,26907,26336,10561,5069,15359,26402,10801,20536,49740

#### Tract

In [19]:
DP03_cols = ['GEO_ID',
            'DP03_0047E',
            'DP03_0048E',
            'DP03_0049E',
            'DP03_0050E']
DP03_colnames = ['GEO_ID',
                'COW1-2',
                'COW3-5',
                'COW6-7',
                'COW8']
DP03 = pd.read_csv('./data/ACS/TRACT/DP03.csv', low_memory=False, usecols=DP03_cols)
DP03.columns = DP03_colnames

In [20]:
S1501_cols = ['GEO_ID',
             'S1501_C01_007E',
             'S1501_C01_008E',
             'S1501_C01_009E',
             'S1501_C01_010E',
             'S1501_C01_011E',
             'S1501_C01_012E',
             'S1501_C01_013E']
S1501_colnames = ['GEO_ID',
                 'SCHL1-11',
                 'SCHL12-15',
                 'SCHL16-17',
                 'SCHL18-19',
                 'SCHL20',
                 'SCHL21',
                 'SCHL22-24']
S1501 = pd.read_csv('./data/ACS/TRACT/S1501.csv', low_memory=False, usecols=S1501_cols)
S1501.columns = S1501_colnames

In [21]:
S0802_cols = ['GEO_ID',
             'S0802_C01_001E',
             'S0802_C01_002E',
             'S0802_C01_003E',
             'S0802_C01_004E',
             'S0802_C01_005E',
             'S0802_C01_006E',
             'S0802_C01_007E',
             'S0802_C01_009E',
             'S0802_C01_010E',
             'S0802_C01_012E',
             'S0802_C01_013E',
             'S0802_C01_014E',
             'S0802_C01_015E',
             'S0802_C01_016E',
             'S0802_C01_017E',
             'S0802_C01_018E',
             'S0802_C01_029E',
             'S0802_C01_030E',
             'S0802_C01_031E',
             'S0802_C01_032E',
             'S0802_C01_033E',
             'S0802_C01_034E',
             'S0802_C01_035E',
             'S0802_C01_036E']
S0802_colnames = ['GEO_ID',
                 'TOTAL_P',
                 'AGEP16-19',
                 'AGEP20-24',
                 'AGEP25-44',
                 'AGEP45-54',
                 'AGEP55-59',
                 'AGEP60+',
                 'SEXM',
                 'SEXF',
                 'RAC1P1',
                 'RAC1P2',
                 'RAC1P3-5',
                 'RAC1P6',
                 'RAC1P7',
                 'RAC1P8',
                 'RAC1P9',
                 'PINCP-9999',
                 'PINCP10000-14999',
                 'PINCP15000-24999',
                 'PINCP25000-34999',
                 'PINCP35000-49999',
                 'PINCP50000-64999',
                 'PINCP65000-74999',
                 'PINCP75000+']
S0802 = pd.read_csv('./data/ACS/TRACT/S0802.csv', low_memory=False, usecols=S0802_cols)
S0802.columns = S0802_colnames

# All S0802 counts are in percentage, must multiply by the total to get counts
pcts = S0802.iloc[1:,1:]
pcts = pcts.replace('-','0', regex=True).astype(float)
pcts = (pcts / 100).multiply(pcts['TOTAL_P'], axis="index").astype(int)
S0802.iloc[1:,2:] = pcts.iloc[:,1:]

In [22]:
B08201_cols = ['GEO_ID',
              'B08201_001E',
              'B08201_002E',
              'B08201_003E',
              'B08201_004E',
              'B08201_005E',
              'B08201_006E',
              'B08201_007E',
              'B08201_013E',
              'B08201_019E',
              'B08201_025E']
B08201_colnames = ['GEO_ID',
                  'TOTAL_HH',
                  'VEH0',
                  'VEH1',
                  'VEH2',
                  'VEH3',
                  'VEH4+',
                  'NP1',
                  'NP2',
                  'NP3',
                  'NP4+']
B08201 = pd.read_csv('./data/ACS/TRACT/B08201.csv', low_memory=False, usecols=B08201_cols)
B08201.columns = B08201_colnames

In [23]:
# Join data from different census tables
acs_dataframes = [DP03, S1501, S0802, B08201]
acs_data = functools.reduce(lambda left,right: pd.merge(left,right,on='GEO_ID'), acs_dataframes)

# Get MSA id from the extended geo id, remove acs labels, save marginal counts for popsim
acs_data.dropna(inplace=True)
acs_data = acs_data.iloc[1:,:]
acs_data['TRACT'] = acs_data['GEO_ID'].str.slice(-11,).astype(int)
acs_data = acs_data[acs_data['TRACT'].isin(tract_list)]
acs_data.to_csv('./populationsim-master/example_msa/data/control_totals_tract.csv', index=False)
acs_data

,GEO_ID,COW1-2,COW3-5,COW6-7,COW8,SCHL1-11,SCHL12-15,SCHL16-17,SCHL18-19,SCHL20,...,VEH0,VEH1,VEH2,VEH3,VEH4+,NP1,NP2,NP3,NP4+,TRACT
1,1400000US01001020100,757,137,58,0,60,106,463,203,132,...,7,204,235,131,132,121,321,83,184,1001020100
2,1400000US01001020200,585,101,37,0,37,171,646,240,69,...,98,258,207,77,48,281,169,93,145,1001020200
3,1400000US01001020300,1260,393,62,12,89,286,940,593,135,...,63,539,454,200,104,365,433,282,280,1001020300
4,1400000US01001020400,1223,417,85,0,18,215,788,542,299,...,21,562,759,289,44,476,706,218,275,1001020400
5,1400000US01001020500,3759,1348,83,0,136,405,1396,1226,751,...,199,1609,1968,540,167,1361,1428,855,839,1001020500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63113,1400000US48037011700,544,271,36,0,108,76,552,363,114,...,62,213,394,220,70,220,473,122,144,48037011700
68373,1400000US49053271600,1871,258,210,0,110,148,1486,1608,519,...,148,1264,946,484,171,793,1672,104,444,49053271600
68374,1400000US49053271701,3138,499,211,0,67,101,1148,1524,795,...,44,645,1099,834,362,545,1020,302,1117,49053271701
68375,1400000US49053271702,3763,409,100,0,70,313,997,1692,693,...,20,541,1439,522,294,348,956,300,1212,49053271702
68376,1400000US49053271800,1489,232,59,7,55,110,600,682,290,...,44,490,517,207,118,322,521,265,268,49053271800

#### Region

In [24]:
# Sum the values across all census tracts to get region marginals
region_data = acs_data.iloc[:,1:-1].apply(pd.to_numeric, errors='coerce')
region_data = pd.DataFrame(region_data.sum()).transpose()
region_data['REGION'] = '1'
region_data.dropna(inplace=True)
region_data.to_csv('./populationsim-master/example_msa/data/control_totals_region.csv', index=False)
region_data

,COW1-2,COW3-5,COW6-7,COW8,SCHL1-11,SCHL12-15,SCHL16-17,SCHL18-19,SCHL20,SCHL21,...,VEH0,VEH1,VEH2,VEH3,VEH4+,NP1,NP2,NP3,NP4+,REGION
0,18966103,3263127,1742155,41415,2757645,2611701,7660908,7448776,2723094,7058309,...,1215412,5553514,6562054,2761802,1461372,4398865,5532872,2861924,4760493,1